.stage {
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 25% 1fr 25%;
    grid-template-columns: 1fr;
    grid-template-areas: "clouds"
                         "content"
                         "waves";
}

.clouds {
    grid-area: clouds;
    max-height: 100%;
    display: grid;
    grid-template-areas: "cloud";
    width: 120%;
    justify-self: center;
}

.cloudLeft {
    grid-area: cloud;
    position: relative;
    x-transition: all 1s ease-in-out;
    animation: cloudLeftAni 20s infinite;
}

.cloudRight {
    grid-area: cloud;
    position: relative;
    x-transition: all 1s ease-in-out;
    animation: cloudRightAni 20s infinite;
}

.content {
    grid-area: content;
}

.waves {
    grid-area: waves;
    display: grid;
    align-content: end;
    justify-self: center;
    max-height: 100%;
    width: 120%;
    position: relative;
    x-transition: all 1s ease-in-out;
    animation: wavesAni 10s infinite;
    overflow: hidden;

}

.picture {
    width: 100%;
    max-height: 100%;
}

@keyframes cloudRightAni {
    0% {
        left: -3%;
    }
    50% {
        left: -5%;
    }
    100% {
        left: -3%;
    }
}

@keyframes cloudLeftAni {
    0% {
        left: -1%;
    }
    50% {
        left: 1%;
    }
    100% {
        left: -1%;
    }
}

@keyframes wavesAni {
  0% {
    left: -50px;
  }
  50% {
    left: -0px;
  }
  100% {
      left: -50px;
  }
}
