@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    font-family: 'Cormorant Garamond', serif;
    font-size: 5vw;
}

@media screen and (min-width: 960px) {
  .text {
    font-size: 48px;
  }
}
