service: finnegan-forever

provider:
  name: aws
  runtime: python3.6

package:
  include:
    - finnegans-wake-scroll.txt
    - finnegan_forever/**

functions:
  read-finnegan:
    handler: finnegan_forever/delivery/aws/read_finnegan.handler
    environment:
      PASSAGE_SIZE: 40
      READING_EVERY: 4
      FINNEGAN_SCROLL_FILEPATH: finnegans-wake-scroll.txt
    events:
      - http:
          path: /passage
          method: get
          cors: true
